auto-save-list/
bin/
info/
[0-9.]*/

eshell/
server/
RFC/
tramp
url/
newsticker/
ac-dict/
kkcrc
bookmarks
*.dat
network-security.data

# emacs backup files
.*~
\#.*\#

^\.

private.el
site-lisp/setup-org-gcal.el

#
# package specific
#
projectile-bookmarks.eld
projectile.cache
org-clock-save.el
.edbi-ds-history
org-gcal
mew-signature.txt
mew.el

inits/_*\.el
